.navbarNoAuth {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: rgb(57, 114, 150);
  height: 60px;
  padding: 2px 28px;
  position: sticky;
  top: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}

.logo {
  width: 60px;
  object-fit: contain;
  border-radius: 40%;
  cursor: pointer;
}

.navRight {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  /* gap: x; */
  padding-left: 1500px;
}
