* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.navRight ul {
  display: flex;
}

.navRight ul li {
  margin: 0 20px 0 0;
}

.navRight ul li:last-child {
  margin: 0;
}

.login_form {
  text-align: center;
  padding-top: 40px;
}
