* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.header {
  display: flex;
  justify-content: center;
  padding: 20px 0 20px 0;
}

.header strong {
  margin: 0 800px 0 0;
  font-size: 20px;
}

.header ul {
  display: flex;
}

.header ul li {
  margin: 0 20px 0 0;
}

.header ul li:last-child {
  margin: 0;
}

.login_form {
  text-align: center;
  padding-top: 40px;
}
